<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/inner/" method="post">
    {% csrf_token%}
    <label for="id">ID :</label>
    <input id="id" name="id" type="text"><br>
    <label for="pwd">Password : </label>
    <input id="pwd" name="pwd" type="password"><br>
    <input type="submit" name="submit" value="로그인">
    <a href="/sign_up">회원가입</a>
</body>
</html>