{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'signup.css' %}">
  <title>Document</title>
</head>
<body>
  <!--
    form
      action: 요청 보내는 곳
      method : 요청 보내는 방식
        GET : DB에서 어떠한 값을 꺼내오거나, 단순 요청과 관련
          URL에 QUERYSTRING으로 요청이 보내짐
          QUERYSTRING = /?username=tak&passsword=123&... 
        POST : DB의 어떠한 값을 추가하거나 삭제 하는 경우
          -url에 보이지 않는 형태로 넘어간다.
          -django에서 post 요청으로 form을 보내는 경우 보안상의 이유로 항상 {% csrf_token %}을 넣어줘야함.
  -->
    <form action="/okay/" method= "post">
      {% csrf_token%}
      <label for="id">ID :</label>
      <input id="id" name="id" type="text"><br>
      <label for="pwd">Password : </label>
      <input id="pwd" name="pwd" type="password"><br>
      <label for="pwd2">PasswordCheck : </label>
      <input id="pwd2" name="pwd2" type="password"><br>
      <input type="submit" name="submit" value="로그인">
     <img src="{%static '이미지.jpg' %}" alt = '배경' width="300px" height="300px">
</body>
</html>