<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!--
    form
    action: 요청을 어디로 보낼지 설정
  -->
  <form action="pages/pong/">
    <label for="data"></label>
    <!-- name: 사용자가 입력값을 어떠한 변수명으로 담아서 보낼지-->
    <input id="data" type="text" name="data">
    <input type="submit" value="제출!">
  </form>
</body>
</html>