<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action='artii_result' >
    <label for="t_input">입력할 문자열</label>
    <input type="text" id="t_input" name="t_input"><br>
    <h1>폰트 선택</h1><br>
    <input type="radio" name="f_input" value="rounded">Rounded<br>
    <input type="radio" name="f_input" value="acrobatic">Acrobatic<br>
    <input type="radio" name="f_input" value="alligator">Alligator<br>
    <input type="radio" name="f_input" value="short">Short<br>
    <input type="radio" name="f_input" value="type_set">Type_set<br>
    <input type="submit" name="submit">
  </form>
</body>
</html>